*.pyc
.ipynb_checkpoints/Lab 1 - Esercizi su semplici algoritmi numerici-checkpoint.ipynb
.ipynb_checkpoints/Introduzione a Python - Parte terza-checkpoint.ipynb
.ipynb_checkpoints/Appunti vari-checkpoint.ipynb
.ipynb_checkpoints/Matrici, Immagini e Frattali-checkpoint.ipynb
.ipynb_checkpoints/Introduzione a Python - Parte seconda-checkpoint.ipynb